/* the styles for the elements */

html{
    background-color: white;
}



body {
	font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    width: 98%;
    max-width: 960px;
    margin: 0 auto 0 auto;
    border-width: 3px;
    display: grid;
    grid-template: repeat(4, auto) / 1fr;
    column-width: 100%;
    grid-template-areas:
        "head"
        "navi"
        "main"
        "foot";
    }
body, header{
    border-style: solid;
    border-color: #931420;
    background-color: #fffded;
}




*{
    margin: 0;
    padding: 0;
}




header{
    grid-area: head;
    padding: 2% 0;
    border-width: 0 0 3px 0;
    background: linear-gradient(30deg, #f6bb73 0%, #f6bb73 30%, white 50%, #f6bb73 80%, #f6bb73 100%);
}
header img {
	float: left;
	margin-left: 1em;
	padding: 0 3.75% 0 3.75%;
}
header h2{
    font-size: 170%;
    color: #800000;
}
header h3{
    font-size:130%;
}
header h3 em.shadow{
    text-shadow: 2px 5px 5px #800000;
}




main {
    grid-area: main;
    display: grid;
    grid-template: 1fr / 30% 1fr;
    grid-gap: 2.5%;
}




#nav_menu{
    grid-area: navi;
    position: relative;
}
#nav_menu ul li a.current{
    color: yellow;
}
#nav_menu ul{
    display: grid;
    grid-template: auto / repeat(5, 1fr);
    align-items: center;
    justify-content: space-between;
    width: 100%;
    list-style-type: none;
    padding: 0;
    margin: 0;
}
#nav_menu ul li ul{
    display: none;
    position: absolute;
    top: 100%;
}
#nav_menu ul li:hover > ul{
    display: block;
    width: -webkit-fill-available;
}
#nav_menu ul li{
    flex-basis: 20%;
}
#nav_menu > ul::after{
    content: "";
    display: block;
}
#nav_menu ul li a{
    display: block;
    text-align: center;
    padding: 1em 0;
    text-decoration: none;
    background-color: #800000;
    color: white;
    font-weight: bold;
}




section{
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    order: 2;
    flex-basis: 70%;
    padding-left: 0;
    padding-right: 2.5%;
    padding-bottom: 2.5%;
    padding-top: 1.25%;
}
section h2, figcaption{
    font-size: 130%;
    color: #800000;
    margin: 15px auto;
}
section h3{
    font-size: 105%;
    padding-bottom .25em;
}
section blockquote{
    font-style: italic;
    padding: 1em 2em 0 2em;
}
section ul {
    padding: 0 .25em 0 1.25em;
    list-style-type: circle;
}
section li{
    padding-bottom: .35em;
}



article h1{
    font-size: 150%;
    padding-top: .5em;
    padding-bottom: .25em;
    margin: 0;
}
.end{
    margin: 10px auto;
}
article h2{
    padding-top: 0;
    padding-bottom: 20px;
}
article h3{
    font-size: 105%;
    padding-bottom: .25em;
}
article img{
    min-width: 150px;
    float: right;
    border: 1px solid black;
}

article{
    border-bottom: 3px solid #800000;
}
article p{
    color: black;
}



aside{
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    flex-basis: 30%;
    order: 1;
    padding-bottom: 20px;
    margin-left: 1em;
    padding-top: 10px;
}
aside h2{
    font-size: 130%;
    color: #800000;
    padding-bottom: 5px;
    margin-bottom: 15px;
}
aside h3{
    font-size: 105%;
    padding-bottom: .25em;
}
aside h4{
    margin-bottom: 10px;
}
aside img{
    padding-bottom: 1em;
}
aside a:focus, a:hover{
    font-style: italic;
}


#mobile_menu{
    display:none;
}


@media screen and (max-width: 959px){
    section h1{
        font-size: 135%;
    }
    section{
        width: 95%;
    }
    aside{
        width: 95%;
        padding-right: 2.5%;
    }
    section h2{
        font-size: 120%;
    }
    aside>h2{
        font-size: 120%;
    }
    section img{
        max-width: 20%;
    }
}
@media screen and (max-width: 479px){
    body{
        font-size: 90%;
    }
}
@media screen and (max-width: 767px){
    main{
         grid-template: 1fr 1fr / 1fr;
    }
    section{
        grid-column: 1 / 2;
        margin: 0 2.5%;
    }
    aside{
        grid-row: 2 / 3;
        column-count: 2;
        padding: 0 2.5%;
    }
    #nav_menu{
        display: none;
    }
    #mobile_menu{
        display: block;
        grid-area: navi;
    }
    .slicknav_menu{
        background: #800000 !important;
    }
    header{
        display: grid;
        grid-template: repeat(3, auto) / 1fr;
        grid-gap: .5em;
        padding: 1em 0;
        justify-items: center;
    }
}



footer{
    grid-area: foot;
    background-color: #931420;
}
footer p{
    text-align: center;
    color: #ffffff;
    padding: 1em 0;
}


figure, thead, tbody,#luncheon_heading, .border_bottom{
    padding-bottom: .25em;
    border-bottom: 2px solid #800000;
}



td{
    padding: .25em;
}



.right{
    text-align: right;
}



#luncheon_heading{
    font-size: 105%;
}


table{
    width: -webkit-fill-available;
}


figure{
    margin-left: 0;
    margin-right: 20%;
    justify-content: space-evenly;
}
