<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>San Joaquin Valley Town Hall</title>
    <link rel="shortcut icon" href="static/favicon.ico">
    <link rel="stylesheet" href="static/normalize.css">
    <link rel="stylesheet" href="static/main.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="static/js/jquery.slicknav.min.js"></script>
    <link rel="stylesheet" href="static/slicknav.css">
    <script type="text/javascript">
        $(document).ready(function(){
            $('#nav_menu').slicknav({prependTo:"#mobile_menu"});
            });
    </script>
</head>

<body>
<header>
    <img src="static/town_hall_logo.gif" alt="">
    <h2>San Joaquin Valley Town Hall</h2>
    <h3>Celebrating our <em class="shadow">75<sup>th</sup></em> Year</h3>
</header>
<nav id="mobile_menu"></nav>
<nav id="nav_menu">
    <ul>
        <li><a href="index" class="current">Home</a></li>
        <li><a href="speakers">Speakers</a></li>
        <li><a href="luncheons">Luncheons</a></li>
        <li><a href="tickets">Tickets</a></li>
        <li><a href="about">About Us</a>
            <ul>
                <li><a href="history">Our History</a></li>
                <li><a href="directors">Board of Directors</a></li>
                <li><a href="past">Past Speakers</a></li>
                <li><a href="contact">Contact Information</a></li>
            </ul>
        </li>
    </ul>
</nav>
<main>
    <section>
        <h2>Our Mission</h2>
        <p>San Joaquin Valley Town Hall is a non-profit organization that is run by an all-volunteer board of
            directors. Our mission is to bring nationally and internationally renowned thought-provoking speakers
            who inform, educate and entertain our audience! As one of out members told us:
        </p>
        <blockquote> "Each year I give a ticket package to each of our family members. I think of it as the gift of
            knowledge... and that is priceless."</blockquote>
        <h1>Speaker of the Month</h1>
        <article>
            <h2>Fossil Threads in the Web of Life</h2>
            <img src="static/sampson_dinosaur.jpg" alt="dinosaur">
            <h3>February</h3>
            <h3>Scott Sampson</h3>
            <p>
                What's 75 million years old and brand spanking new? A teenage Utahceratops! Come to the Saroyan,
                armed with your best dinosaur roar, when Scott Sampson, Research Curator at the Utah Museum of
                Natural History, steps to the podium. Sampson's research has focused on the ecology and evolution
                of late Cretaceous dinosaurs and he has conducted fieldwork in a number of countries in Africa.
                <br>
            </p>
                <div class="end">
                    <a href="sampson">Read more.</a>&nbsp;<a href="media/sampson.swf" target="_blank">Or play video</a>
                </div>
        </article>
        <h2>Our Ticket Packages</h2>
        <ul>
            <li>Season Package: $95</li>
            <li>Patron Package: $200</li>
            <li>Single Package: $25</li>
        </ul>
    </section>
    <aside>
        <h2>Guest Speakers</h2>


        <div>
            <div>
                <h4>October<br><a href="toobin">Jeffrey Toobin</a></h4>
                <img src="static/toobin75.jpg" alt="Jeffrey Toobin">
            </div>
            <div>
                <h4>November<br><a href="sorkin">Andrew Ross Sorkin</a></h4>
                <img src="static/sorkin75.jpg" alt="Andrew Sorkin">
            </div>
            <div>
                <h4>January<br><a href="chua">Amy Chua</a></h4>
                <img src="static/chua75.jpg" alt="Amy Chua">
            </div>
            <div>
                <h4>February<br><a href="sampson">Jeffrey Sampson</a></h4>
                <img src="static/sampson75.jpg" alt="Jeffrey Sampson">
            </div>
        </div>
    </aside>
</main>
<footer>
    <p>
        &copy 2018, San Joaquin Valley Town Hall, Fresno CA 93755
    </p>
</footer>
</body>
</html>
