<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>San Joaquin Valley Town Hall</title>
	<link rel="shortcut icon" href="static/favicon.ico">
	<link rel="stylesheet" href="static/normalize.css">
	<link rel="stylesheet" href="static/main.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="static/js/jquery.slicknav.min.js"></script>


	<link rel="stylesheet" href="static/slicknav.css">
    <script type="text/javascript">
        $(document).ready(function(){
            $('#nav_menu').slicknav({prependTo:"#mobile_menu"});
            });
    </script>
</head>

<body>
<header>
	<img src="static/town_hall_logo.gif" alt="Town Hall logo" height="80">
	<h2>San Joaquin Valley Town Hall</h2>
	<h3>Celebrating our <span class="shadow">75<sup>th</sup></span> Year</h3>
</header>
<nav id="mobile_menu"></nav>
<nav id="nav_menu">
	<ul>
		<li><a href="index">Home</a></li>
		<li><a href="speakers">Speakers</a></li>
		<li><a href="luncheons" class="current">Luncheons</a></li>
		<li><a href="tickets">Tickets</a></li>
		<li><a href="aboutus">About Us</a>
			<ul>
				<li><a href="history">Our History</a></li>
				<li><a href="directors">Board of Directors</a></li>
				<li><a href="past">Past Speakers</a></li>
				<li><a href="contact">Contact Information</a></li>
			</ul>
		</li>
	</ul>
</nav>
<main>
	<section>
		<h1>About Our Luncheons</h1>
		<p>Make reservations for lunch in the lower lobby of the William Saroyan Theater after each lecture.
		These informal sessions provide an excellent opportunity to talk with the speaker.</p>
		<h2>Season luncheon tickets: $120</h2>
		<p>These tickets can be ordered at the same time as the season lecture ticket.</p>
		<h2>Individual luncheon tickets: $25</h2>
		<p>A limited number of these tickets are available and can be purchased by calling
		559.555.1212. These tickets must be purchased by the Friday prior to the lecture.</p>
	<figure>
		<figcaption><h2 id=luncheon_heading>The luncheon schedule</h2></figcaption>
		<table>
			<thead>
				<tr>
					<th>Year</th>
					<th>Date</th>
					<th>Speaker</th>
					<th>Cost</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td rowspan="2">2017</td>
					<td>October 19</td>
					<td>Jeffrey Toobin</td>
					<td class="right">$25</td>
				</tr>
				<tr class="border_bottom">
					<td>November 16</td>
					<td>Andress Ross Sorkin</td>
					<td class="right">$25</td>
				</tr>
				<tr>
					<td rowspan="4">2018</td>
					<td>January 18</td>
					<td>Amy Chua</td>
					<td class="right">$25</td>
				</tr>
				<tr>
					<td>February 16</td>
					<td>Scott Sampson</td>
					<td class="right">$25</td>
				</tr>
				<tr>
					<td>March 21</td>
					<td>Carlos Eire</td>
					<td class="right">$25</td>
				</tr>
				<tr class="border_bottom">
					<td>April 18</td>
					<td>Ronan Tynan</td>
					<td class="right">$25</td>
				</tr>
				<tr>
					<th colspan="3" class="right">Cost of 6 individual luncheon tickets</th>
					<td class="right">$150</td>
				</tr>
				<tr class="border_bottom">
					<th colspan="3" class="right">Cost of a season luncheon ticket</th>
					<td class="right">$120</td>
				</tr>
			</tbody>
			<tfoot>
				<tr>
					<th colspan="3" class="right">Savings</th>
					<td class="right"><strong>$30</strong></td>
				</tr>
			</tfoot>
		</table>
		</figure>
	</section>
	<aside>
		<h2>Guest speakers</h2>
		<h3>October<br><a href="toobin">Jeffrey Toobin</a></h3>
		<img src="static/toobin75.jpg" alt="Jeffrey Toobin photo">
		<h3>November<br><a href="sorkin">Andrew Ross Sorkin</a></h3>
		<img src="static/sorkin75.jpg" alt="Andrew Ross Sorkin photo">
		<h3>January<br><a href="chua">Amy Chua</a></h3>
		<img src="static/chua75.jpg" alt="Amy Chua photo">
		<h3>February<br><a href="sampson">Scott Sampson</a></h3>
		<img src="static/sampson75.jpg" alt="Scott Sampson photo">
	</aside>
</main>
<footer>
	<p>&copy; 2018, San Joaquin Valley Town Hall, Fresno, CA 93755</p>
</footer>
</body>
</html>
