<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>San Joaquin Valley Town Hall</title>
	<link rel="shortcut icon" href="static/favicon.ico">
	<link rel="stylesheet" href="static/normalize.css">
	<link rel="stylesheet" href="static/tickets.css">
</head>

<body>
	<header>
		<img src="static/town_hall_logo.gif" alt="Town Hall logo" height="80">
		<h2>San Joaquin Valley Town Hall</h2>
		<h3>Celebrating our <span class="shadow">75<sup>th</sup></span> Year</h3>
	</header>
	<nav id="nav_menu">
    	<ul>
        	<li><a href="index">Home</a></li>
        	<li><a href="speakers">Speakers</a></li>
        	<li><a href="luncheons">Luncheons</a></li>
        	<li><a href="tickets" class="current">Tickets</a></li>
        	<li><a href="aboutus">About Us</a>
            	<ul>
                	<li><a href="#">Our History</a></li>
                	<li><a href="#">Board of Directors</a></li>
                	<li><a href="#">Past Speakers</a></li>
                	<li><a href="#">Contact Information</a></li>
            	</ul>
        	</li>
    	</ul>
	</nav>
	<main>
		<section>
			<h1>Order Form</h1>
    		<form action="register" method="get"
        		name="registration_form" id="registration_form">
    			<fieldset>
	        		<legend>Member Information</legend>
	        		<label for="email">E-Mail:</label>
	        		<input type="email" name="email" id="email" autofocus required><br>

        			<label for="first_name">First Name:</label>
					<input type="text" name="first_name" id="first_name" required><br>
					<label for="last_name">Last Name:</label>
					<input type="text" name="last_name" id="last_name" required><br>
					<label for="address">Address:</label>
					<input type="text" name="address" id="address"><br>
					<label for="city">City:</label>
					<input type="text" name="city" id="city" required><br>
					<label for="state">State:</label>
					<input type="text" name="state" id="state" required maxlength="2" placeholder="2-character code"><br>
					<label for="zip">ZIP Code:</label>
					<input type="text" name="zip" id="zip" required placeholder="5 or 9 digits" 
				           pattern="^\d{5}(-\d{4})?$" title="Either 5 or 9 digits"><br>
					<label for="phone">Phone Number:</label>
					<input type="tel" name="phone" id="phone" placeholder="999-999-9999" 
				       	   pattern="\d{3}[\-]\d{3}[\-]\d{4}" title="Must be 999-999-999 format"><br>
				</fieldset>
				<fieldset>
					<legend>Ordering Information</legend>
					<label for="order_type">Order Type:</label>
					<select name="order_type" id="order_type">
				    	<option value="m">Member Package</option>
				    	<option value="d">Donor Package</option>
				    	<option value="s">Single Tickets</option>
					</select><br>
					<label for="tickets">Number of Tickets:</label>
					<input type="number" name="tickets" id="tickets" value="2" min="1" max="4"
						   placeholder="Number of single tickets"><br>
				</fieldset>
				<fieldset id="payment">
					<legend>Payment Method</legend>
					<input type="radio" id="bill" name="payment" value="bill">
					<label for="bill">Bill Me</label>
					<input type="radio" id="card" name="payment" value="card" checked>
					<label for="card">Credit Card</label><br>

				</fieldset>
				<fieldset>
					<legend>Credit Card Information</legend>

					<label for="card_type">Card Type:</label>
					<select name="card_type" id="card_type">
						<option value="v">Visa</option>
						<option value="m">MasterCard</option>
						<option value="a">American Express</option>
					</select>

					<label for="card_number" id="">Card Number:</label>
					<input type="text" id = "card_number" name="card_number" required placeholder="16 digits" pattern="\d{16}"
						   title="Card number must contain 16 digits">

					<label for="month">Expiration date</label>
					<select id="month" name="month">
						<option value="jan">January</option>
						<option value="feb">February</option>
						<option value="mar">March</option>
						<option value="apr">April</option>
						<option value="may">May</option>
						<option value="jun">June</option>
						<option value="jul">July</option>
						<option value="aug">August</option>
						<option value="sep">September</option>
						<option value="oct">October</option>
						<option value="nov">November</option>
						<option value="dec">December</option>
					</select>
					<select name="year" id="year">
						<option value="2022">2022</option>
						<option value="2023">2023</option>
						<option value="2024">2024</option>
						<option value="2025">2025</option>
						<option value="2026">2026</option>
					</select>
				</fieldset>

				<fieldset id="buttons">
					<legend>Submit Your Order</legend>
					<label>&nbsp;</label>
					<input type="submit" id="submit" value="Submit" >
					<input type="reset" id="reset" value="Reset Fields"><br>
				</fieldset>
			</form>
		</section>
		<aside>
			<h2>Guest speakers</h2>
			<h3>October<br><a href="toobin">Jeffrey Toobin</a></h3>
			<img src="static/toobin75.jpg" alt="Jeffrey Toobin photo">
			<h3>November<br><a href="sorkin">Andrew Ross Sorkin</a></h3>
			<img src="static/sorkin75.jpg" alt="Andrew Ross Sorkin photo">
			<h3>January<br><a href="chua">Amy Chua</a></h3>
			<img src="static/chua75.jpg" alt="Amy Chua photo">
			<h3>February<br><a href="c7_sampson">Scott Sampson</a></h3>
			<img src="static/sampson75.jpg" alt="Scott Sampson photo">
		</aside>
	</main>
	<footer>
		<p>&copy; 2018, San Joaquin Valley Town Hall, Fresno, CA 93755</p>
	</footer>
</body>
</html>
